<div class="xapisync-inner component-inner" role="region" aria-label="{{_globals._components._xapisync.ariaRegion}}" {{#if _globals._components._xapisync.ariaRegion}}tabindex="0"{{/if}}>
    {{> component this}}    
    <div class="buttons">
        <button class="xAPISync-button buttons-action buttons-action-fullwidth" role="button">
            {{_syncButtonText}}
        </button>
    </div>
</div>